<!doctype html>

<html lang="en">
<head>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	
	<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
</head>

<body>

	<div class="header">
		<div class="header-title">
			<h1>Rides and Strides with Strava!</h1>
		</div>
	</div>

	<div class="log-status" id="banner">
	{% if 'username' not in session %}
		<p>Not logged in. <br> <a href="{{url_for('home.login_route')}}">Log in here</a></p>
	{% endif %}

	{% if 'username' in session %}
		<p>Logged in as {{session.username}}</p>
		<a href="{{url_for('api.logoutApi')}}"><button class="pure-button" id="logout">Sign Out</button></a>
	{% endif %}
	</div>


{% block content %}

	
	<div id="jav">
		<script type="text/javascript">

			$(document).ready(function() {

				var token = "f052e2cee011bab715a9b92d2f9b44fbabd7538a";

				$.get("https://www.strava.com/api/v3/athlete?access_token=f052e2cee011bab715a9b92d2f9b44fbabd7538a", function(data, status){
					var result = JSON.stringify(data) 
					console.log(result);
				});//.get
				console.log("After return");

				
				$("#callStrava").click(function(){
					console.log("clickin!!");
				});//on click 

			}); //document.ready

		</script>
	</div>

	<div class="main-container">

		<p>Click here to gather data from your Strava profile for the last 3 months!</p>
		<button class="pure-button" id="callStrava">Gather Strava Data</button>
		<button class="pure-button pure-button-primary" id="saveData" style="display: none">Save Results</button>


		<br><br>

		<div class="resultList">
			
		</div>
		
 
	</div>


{% endblock %}
</body>
</html>